<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!--     <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <section class="page-header" style="padding: 0rem 0rem; text-align: left">
      <div class="w3-cell-row">
        <div class="w3-container w3-transparent w3-cell w3-cell-bottom" style="padding:0rem">
          <button class="w3-button w3-transparent w3-xlarge" onclick="w3_open()">&#9776;</button>
        </div>
        <div class="w3-container w3-transparent w3-cell w3-cell-middle">
          <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
        </div>
        <div class="w3-container w3-transparent w3-cell w3-cell-middle">
          <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>            
        </div>
      </div>
    </section>

    <div class="w3-sidebar w3-bar-block w3-light-grey w3-animate-left" style="display:none;z-index:3" id="mySidebar">
        <button class="w3-bar-item w3-button" onclick="w3_close()">Close &times;</button>
        <a href="{{ site.url }}" class="w3-bar-item w3-button">Home</a>
        <a href="{{ site.url }}/news.html" class="w3-bar-item w3-button">News</a>
        <a href="{{ site.url }}/people.html" class="w3-bar-item w3-button">People</a>
        <a href="{{ site.url }}/album.html" class="w3-bar-item w3-button">Album</a>
        <a href="{{ site.url }}/reagents.html" class="w3-bar-item w3-button">Reagents</a>
        <a href="{{ site.url }}/publications.html" class="w3-bar-item w3-button">Publications</a>
        <a href="{{ site.url }}/contacts.html" class="w3-bar-item w3-button">Contacts</a>
    </div>
  
    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

    <section class="main-content">
        {% for member in site.data.names %}
        <div class="people-card">
            <div class="w3-card-4">
                <div class="w3-row">
                    <div class="w3-quarter w3-container w3-center">
                        {% if member.img != null %}
                        <img src={{ member.img | prepend:'/images/' | append:'.jpg' }}>
                        {% else %}
                        <i class="fa fa-user fa-4x" aria-hidden="true" style="margin:1rem"></i>
                        {% endif %}
                    </div>
                    <div class="w3-rest w3-container">
                        <p class="name">{{ member.name }}</p>
                        <div class="w3-row">
                            {% if member.title != null %}
                            <div class="w3-left w3-container"><p class="title">{{ member.title }}</p></div>
                            {% endif %}
                            {% if member.email != null %}
                            <div class="w3-left w3-container"><a class="email" href={{ member.email | prepend:'mailto:' }}><i class="fa fa-envelope"></i></a></div>
                            {% endif %}
                        </div>
                        {% if member.txt != null %}
                        <p>{{ member.txt }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <footer class="site-footer">
            <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.title }}</a>.</span>
            <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
        </footer>
    </section>

    <script>
        function w3_open() {
          document.getElementById("mySidebar").style.display = "block";
          document.getElementById("myOverlay").style.display = "block";
        }
        
        function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
          document.getElementById("myOverlay").style.display = "none";
        }
    </script>

  </body>
</html>
